{% extends "base.html" %}

{% block content %}
    
    <h1 class='title'>
        Green is always better!
    </h1>

    <div class='page-bk'>

        <h3 class='title'>10 Facts about plants that we grow in our homes and gardens.</h3>
        <br>
        <p>1. 3.34 m is the recorded height of the tallest basil plant.</p>

        <p>    2. The strawberry has an average number of 200 seeds. It is the only fruit that has seeds on the outer.</p>

        <p>3. Ginkgo Biloba is one of the oldest tree species that is alive.</p>

        <p>4. The leaves of the Lucky Bamboo plant grow up to one inch per month</p>

        <p>5. Bananas contain natural chemicals and compounds that can make people happy. So, it would not be wrong if we say it is a Happy Fruit!</p>

        <p>6. Bamboo is the fastest growing woody plant in the world; it can grow upto 35 inches in a single day.</p>

        <p>7. Cabbage is 91% water</p>

        <p>8. Eating lots of onions can make you fall asleep, it is a sedative.</p>

        <p>9. Cucumber is a fruit and not a vegetable because it has seeds inside.</p>

        <p>10. A Money plant also has seeds. The seeds grow inside the pods, enlarge, and burst fall on the ground.</p>
        <br>

    </div>
{% endblock %}